body{
	background-image:url(w.jpg);
	 background-repeat:repeat-y;
	 background-color:#689f38;
}
#project
 {
	 font-family:arial;
	 font-size:40px;
	 color:red;
	 margin-left:200px;
	 margin-right:200px;
	 
 }